{% extends "layouts/main.html" %}

{% set pageName = "What is your home address?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["address"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["address"], href: "#address" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukTextarea({
      id: "address",
      name: "address",
      label: {
        text: "What is your home address?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "Include your postcode" },
      errorMessage: errors["address"] if errors else null,
      value: data["address"],
      rows: 5
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
